* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    margin: 0;
    background-color: #0B2434;
  }
  
  main {
    background-color: #F5F5F5;
    border-radius: 10px;
    height: 400px;
    width: 400px;
    margin: 30px auto;
    padding: 30px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  h1 {
    padding: 10px;
    font-family: 'Karla', sans-serif;
    color: #2B283A;
    font-weight: 700;
    font-size: 26px;
  }
  
  h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #4A4E74;
    font-size: 14px;
    letter-spacing: -.3px;
  }
  
  .boxes--container {
    margin: 24px 0;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 22px;
  }
  
  /* .row {
    margin: 24px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } */
  
  
  #counter--and--button {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: 15px;
  }
  
  #counter {
    display: inline-block;
    font-family: 'Karla', sans-serif;
    color: #2B283A;
    font-weight: 400;
    font-size: 19px;
    margin-right: auto;
  }
  
  button {
    display: inline-block;
  
    justify-content: center;
    align-items: center;
  
    font-family: 'Karla', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 17px;
  
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #2B283A;
  
    cursor: pointer;
  }
  
  .btn--roll {
    height: 40px;
    width: 130px;
    background-color: #5035FF;
  }
  
  .btn--new {
    height: 40px;
    width: 150px;
    background-color: #fc0339;
  }