* {
    margin: 0;
}

html {
    text-align: center;
    background-color: #FEFBF6;
}

header {
    padding: 0 0 17px 0;
    text-align: center;
    background-color: #A6D1E6;
}

header h1 {
    font-family: 'Permanent Marker', cursive;
    color: #3D3C42;
}

nav {
    margin: 0 auto;
    padding: 20px;
    background-color: #7F5283;
    width: 100%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
    font-size: 1.7em;
    margin: 0 17px;
}

nav a {
    /* Compared to display: inline, the major difference is that display: inline-block allows to set a width and height on the element. */
    display: inline-block;
    width: 20%;
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    padding: 5px 11px;
    color: #3D3C42;
    background-color: #FEFBF6;
    border: 1px solid #3D3C42;
    border-radius: 13px;
}

.card {
    display: inline-block;
    width: 20%;
    margin: 40px;
    height: auto;
}

img {
    width: 100%;
}

table {
    width: 80%;
    margin: 0 auto;
}

th,
tr {
    border: 1px solid #3D3C42;
    color: #3D3C42;
}

th {
    border-bottom: 4px solid #3D3C42;    ;
    height: 2em;
}

tr {
    height: 4em;
    background-color: #A6D1E6;

}

.first,
.third {
    width: 10%
}

.second {
    width: 80%
}