* {
    box-sizing: border-box;
}

h2#cast-title {
    font-family: 'Bungee Spice', cursive;
    text-align: center;
    font-size: 4em;
    color: #873e23;
    background-image: linear-gradient(to bottom, #1e81b0 0%, #abdbe3 30%, #abdbe3 70%, #1e81b0 100%);
    padding: 8px;
    margin: 44px;
    border-radius: 22px;
}

p#footer {
    background-image: linear-gradient(to bottom, #1e81b0 0%, #abdbe3 30%, #abdbe3 70%, #1e81b0 100%);
    color: #a02734;
    padding: 11px 44px;
    margin: 44px;
    border-radius: 22px;
    font-size: 1.7em;
    font-weight: 800;
    font-style: italic;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background: linear-gradient(to bottom, #1e81b0 0%, #abdbe3 10%, #abdbe3 90%, #1e81b0 100%);
    border-radius: 22px;
    margin: 44px;
}

.card:hover {
    transform: scale(1.1);
}

.card .card-title {
    font-family: 'Permanent Marker', cursive;
    color: #a02734;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 11px;
}

.card a {
    text-decoration: none;
    font-weight: bold;
    color: #a02734;
    font-size: 1.3em;
}


/* Responsive columns - one column layout (vertical) on small screens */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .column {
        width: 50%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .column {
        width: 33%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .column {
        width: 25%;
    }
}
