* {
    margin: 0;
}

nav a {
    color: white;
}


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #f1f1f1;
}

.main-image {
    position: relative;
    background: url(./img/wkrpBack.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
    overflow: hidden;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}


body {
    background-color: #a02734;
    background-size: cover;
}

div{
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;  
}

.imgPage{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    
}



@media only screen and (min-width: 1120px) {
    .main-image {
        background-size: contain;
        background-color: #030303;
    }
}
